
<ng-container *ngIf="true">
  <div class="container">
    <div class="cart-table">
        <div class="cart-product">
           <table class="table table-responsive">
              <thead>
                <tr>
                    <th>Sr. no.</th>
                    <th>Book Name</th>
                    <th>author Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of product; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{p.bookName}}</td>
                    <td>{{p.author}}</td>
                    <td>{{p.bookprice | currency:'INR' }}</td>
                    <td>{{p.quantity}}</td>
                    <td>
                        <button (click)="removeItem(p)" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                   <tr>
                    <td colspan="4"></td>
                    <td><strong>Grand total:- </strong> {{grandTotal |currency:'INR'}}</td>
                    <td><button (click)="shopmore()"class="btn btn-primary">Shop More</button></td>
                    <td><button (click)="buy()" (click)="initializePayment(grandTotal)" class="btn btn-success">Buy now</button></td>
                   </tr>
              </tbody>
           </table>
        </div>
    </div>
  </div>

</ng-container>

