

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz5ZypBa_Dew_7xqlyvzBDtAdI9zQMAl5sPA&usqp=CAU" alt="not found"
					width=5% height=5% style="float:left" />
      <a class="navbar-brand" href="#">Bookshelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav">
        
        <li class="nav-item">
          <a  class="nav-link" routerLink='admin/users'>Users</a>
        </li>

        <li class="nav-item">
          <a  class="nav-link" routerLink='admin/books'>Books</a>
        </li>
          
          <li class="nav-item">
            <a (click)="logout()" class="nav-link" routerLink=''>Logout</a>
          </li>
          
        </ul>

        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper"  >
      <img style="width: 100%; height:500px;"  src="https://www.bookswagon.com/images/bannerimages/79_inr.jpg?v=1.4">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width: 100%; height:500px;" src="https://www.bookswagon.com/images/bannerimages/82_inr.jpg?v=1.4" alt="Angular Carousel 2">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img style="width: 100%; height:500px;" src="https://www.bookswagon.com/images/bannerimages/83_inr.jpg?v=1.4" alt="Angular Carousel 3">
    </div>
  </ng-template>
</ngb-carousel>


  
