
<div style="text-align:center; height:600px; background-color: aquamarine; padding-top:200px;;">
    <h3 style="color:blue;">Login Form !!</h3>
<form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)" novalidate>
    <div class="form-outline mb-4" *ngIf="loginId.errors?.['required'] && loginId.touched">Please enter the LoginId</div>
    <div *ngIf="loginId.errors?.['minlength'] && loginId.touched">Please enter atleast 5 character in LoginId</div>
    <input placeholder="Email address" type="email" #loginId="ngModel" name="loginId" ngModel required minlength="5" maxlength="15"> <br><br>

    <div class="form-outline mb-4" *ngIf="password.errors?.['required'] && password.touched">Please enter the Password</div>
    <div *ngIf="password.errors?.['minlength'] && password.touched">Please enter atleast 5 character in Password</div>
    <input placeholder="Password" type="password" #password="ngModel" name="password" ngModel required minlength="5" maxlength="10"> <br><br>
    <button class="btn btn-info" [disabled]="!loginForm.value">Login</button> 
    
    <button class="google-btn" (click)="onGoogleSignIn()">
        <i class="fa fa-google"></i> Sign in with Google
      </button> 
       
     <a (click)="register()" class="nav-link" routerLink='register'><u>are you a new user</u></a>
</form>

</div>