<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bookshelf</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink='register' >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='login'>Login</a>
        </li>
      </ul>

      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>



<ngb-carousel>
<ng-template ngbSlide>
  <div class="picsum-img-wrapper"  >
    <img style="width: 100%; height:500px;"  src="https://www.bookswagon.com/images/bannerimages/79_inr.jpg?v=1.4">
  </div>
</ng-template>

<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img style="width: 100%; height:500px;" src="https://www.bookswagon.com/images/bannerimages/82_inr.jpg?v=1.4" alt="Angular Carousel 2">
  </div>
</ng-template>

<ng-template ngbSlide>
  <div class="picsum-img-wrapper">
    <img style="width: 100%; height:500px;" src="https://www.bookswagon.com/images/bannerimages/83_inr.jpg?v=1.4" alt="Angular Carousel 3">
  </div>
</ng-template>
</ngb-carousel>




<marquee style="color:blueviolet; font-size:large;"> <u>Lets Get Lost Into Pages</u></marquee>
<div class="container">
<div class="row md-1" style="margin-top: 4px;">
    <div class="col-md-3"
    *ngFor="let p of products">
       <div class="card" style="width:250px;height: 80%;">
        <img align="center" style="width:100%;height:70%;" class="card-img-top"
        src={{p.imagePath}} alt="image not found">
        <div class="card-body" style="background-color: lightgray; text-align: center;">
            <p class="card-text">{{p.price |currency:'INR'}}</p>
            <button (click)="submit(p)" style="background-color:rgb(159, 159, 9);">Add to cart</button>

        </div>

       </div>
    </div>
</div>
</div>