

<h1 style="text-align: center;">Registration</h1><br>
<form #recievedUser="ngForm">

  <div *ngIf="name.errors?.['required'] && name.touched">Enter Name</div>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="user.userName" name="name">
  
  <div *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>
  <div *ngIf="password.errors?.['minlength'] && password.touched">Enter atleast 5</div>
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="user.userPassword" name="password" required minlength="5" maxlength="25">
  
  <div *ngIf="email.errors?.['required'] && email.touched">Enter E-mail Id</div>
  <div *ngIf="email.errors?.['minlength'] && email.touched">Enter Valid Email</div>
  <label for="email">E-mail</label>
  <input type="email" class="form-control" id="email" placeholder="example@gmail.com" [(ngModel)]="user.userEmail" name="email" required minlength="11" maxlength="30">
  
  <div *ngIf="address.errors?.['required'] && address.touched">Enter Address</div>
  <label for="address">Address</label>
  <input type="text" class="form-control" id="address" placeholder="user address" [(ngModel)]="user.userAddress" name="address">
  
  <div *ngIf="mobile.errors?.['required'] && mobile.touched">Enter Mobile number</div>
  <div *ngIf="mobile.errors?.['minlength'] && mobile.touched">Enter valid number of 10 digit</div>
  <label for="mobile">Mobile</label>
  <input type="text" class="form-control" id="mobile" placeholder="user mobile" [(ngModel)]="user.userMobile" name="mobile" mgModel required maxlength="10" minlength="10">

   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Register</button>
</form>