

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bookshelf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav">
        
          <li class="nav-item">
            <a class="nav-link" (click)="logout()"  routerLink=''>Logout</a>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button (click)="showcart()" class="btn btn-primary" style="margin-left: 600px;">
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
         cart
        </button>
      </div>
    </div>
  </nav>
</header>



<div class="container" >
  <div class="row">
    <ng-container *ngFor="let p of productList |filter:serachKey:'bookName'">
      <div class="card col-md-3">
        <img src={{p.picByte}} alt="">
        <p><strong>{{p.bookName}}</strong></p>
        <p><strong>by:  {{p.author}}</strong></p>
        <p>{{p.bookprice |currency:'INR'}}</p>
        <button (click)="addToCart(p)" class="btn btn-primary">Add to cart</button>
     </div>
    </ng-container>
    
  </div>
</div>

  
